ul {
    list-style-type: none;
}

header{
    background-image: url(fondo.jpg);
    background-color: black;
    background-size: 100% 100%;
    width: 100%;
    border-bottom-color: black;
    color: white;
}
nav li:hover{
    color: rgb(194, 105, 78);
    border-bottom: 2px rgb(194, 105, 78) solid;
}
h1{
    font-size: 5rem;
}
.btn1{
    background-color: white;
    border: 0px;
    border-radius: 15px;
    color:rgb(194, 105, 78) ;
}
.btn2{
    background-color: rgb(194, 105, 78);
    border: 0px;
    border-radius: 15px;
    color: white;
}
.img img{
    border-radius: 80px 80px 0px 0px;
    height: 500px;
    opacity: 0.5;
}
.img{
    border-radius: 80px 80px 0px 0px;
    background-color: #d46304;
}